Repository carpentries/amy, pull requests merged in 2020-08, with the labels that each got.

#1685 Reduce required numer of supporting instructors for Introduction Email
  amy/autoemails/actions.py
  amy/autoemails/tests/test_instructorshostintroductionaction.py
Labels: component: email automation, type: enhancement

#1684 Fix: Introduction email drops empty contacts from event
  amy/autoemails/actions.py
  amy/autoemails/tests/test_instructorshostintroductionaction.py
Labels: component: email automation, type: bug

#1688 Fix 500 error when person family is empty
  amy/workshops/migrations/0215_auto_20200808_1356.py
  amy/workshops/models.py
  amy/workshops/tests/test_person.py
  amy/workshops/tests/test_util.py
  amy/workshops/util.py
Labels: component: database (DB), type: bug

#1691 Instructor availability checkbox for workshop request & inquiry
  amy/extforms/tests/test_workshop_inquiry_form.py
  amy/extforms/tests/test_workshop_request_form.py
  amy/extrequests/forms.py
  amy/extrequests/migrations/0021_workshopinquiryrequest_instructor_availability.py
  amy/extrequests/models.py
  amy/extrequests/tests/test_workshop_inquiries.py
  amy/extrequests/tests/test_workshop_requests.py
  amy/static/amy_utils.js
  amy/templates/includes/workshopinquiry_details.html
  amy/templates/includes/workshoprequest_details.html
  amy/templates/mailing/workshopinquiry.txt
  amy/templates/mailing/workshopinquiry_admin.txt
  amy/templates/mailing/workshoprequest.txt
  amy/templates/mailing/workshoprequest_admin.txt
  amy/workshops/migrations/0216_workshoprequest_instructor_availability.py
  amy/workshops/mixins.py
  amy/workshops/models.py
Labels: component: database (DB), component: email automation, type: enhancement

#1692 Extend PostWorkshop recipients with supporting instructors
  amy/autoemails/actions.py
  amy/autoemails/tests/test_postworkshopaction.py
Labels: component: email automation, type: enhancement

#1694 Dualfix: fix cancel error, fix double email for Introduction action
  amy/autoemails/admin.py
  amy/autoemails/base_views.py
  amy/autoemails/tests/base.py
  amy/autoemails/tests/test_actionmanagemixin.py
  amy/autoemails/tests/test_admin_cancel.py
  amy/autoemails/tests/test_admin_edit_template.py
  amy/autoemails/tests/test_admin_reschedule.py
  amy/autoemails/tests/test_admin_retry.py
  amy/autoemails/tests/test_admin_sendnow.py
  amy/workshops/views.py
Labels: component: email automation, type: bug

#1695 Restore context test for Introduction email
  amy/autoemails/tests/test_instructorshostintroductionaction.py
Labels: component: email automation, type: bug

#1696 replace travis-ci.org by travis-ci.com
  README.md
Labels: component: documentation

#1698 Drop empty emails for SelfOrganisedRequest action
  amy/autoemails/actions.py
  amy/autoemails/tests/test_instructorshostintroductionaction.py
  amy/autoemails/tests/test_selforganisedrequestaction.py
Labels: component: email automation, type: bug

#1690 Use additional contacts in PostWorkshopAction
  amy/autoemails/actions.py
  amy/autoemails/tests/test_postworkshopaction.py
Labels: component: email automation, type: enhancement

#1673 Online class size
  amy/extrequests/migrations/0021_auto_20200615_1436.py
  amy/extrequests/models.py
  amy/workshops/migrations/0214_auto_20200615_1436.py
  amy/workshops/models.py
Labels: component: database (DB), component: forms, type: enhancement

#1702 Change order of the conflicting migrations
  amy/extrequests/migrations/0022_auto_20200615_1436.py
  amy/workshops/migrations/0217_auto_20200615_1436.py
Labels: type: bug

#1689 Add Circuits to PostWorkshopAction tag check list
  amy/autoemails/actions.py
  amy/autoemails/tests/test_postworkshopaction.py
Labels: type: bug, type: enhancement

#1701 Add AskForWebsite action
  amy/autoemails/actions.py
  amy/autoemails/base_views.py
  amy/autoemails/fixtures/templates_triggers.json
  amy/autoemails/migrations/0012_auto_20200815_1422.py
  amy/autoemails/models.py
  amy/autoemails/tests/test_askforwebsiteaction.py
  amy/templates/base.html
  amy/workshops/tests/test_event.py
  amy/workshops/tests/test_tasks.py
  amy/workshops/views.py
  package.json
  yarn.lock
Labels: component: email automation, type: new feature

#1703 Reminder to recruit helpers - email action
  amy/autoemails/actions.py
  amy/autoemails/base_views.py
  amy/autoemails/migrations/0013_auto_20200818_0836.py
  amy/autoemails/models.py
  amy/autoemails/tests/test_recruithelpersaction.py
  amy/workshops/tests/test_event.py
  amy/workshops/tests/test_tasks.py
  amy/workshops/views.py
Labels: component: database (DB), component: email automation, type: bug, type: new feature

#1706 Membership codes
  amy/fiscal/forms.py
  amy/templates/fiscal/membership.html
  amy/workshops/migrations/0218_membership_registration_code.py
  amy/workshops/models.py
Labels: type: enhancement
