Repository carpentries/amy, pull requests merged in 2021-01, with the labels that each got.

#1763 update license
  LICENSE.md
Labels: component: documentation

#1766 update default email for workshop related tasks
  amy/autoemails/tests/test_genericaction.py
  amy/templates/forms/selforganisedsubmission_confirm.html
  amy/templates/forms/trainingrequest_confirm.html
  amy/templates/forms/workshopinquiry_confirm.html
  amy/templates/forms/workshoprequest_confirm.html
  amy/workshops/management/commands/instructors_activity.py
  amy/workshops/tests/test_util.py
  config/settings.py
  docs/sending_mails.md
Labels: component: email automation, component: forms, type: enhancement

#1768 Search by registration code + search UI improvements
  amy/dashboard/forms.py
  amy/dashboard/tests/test_search.py
  amy/dashboard/urls.py
  amy/dashboard/views.py
  amy/templates/dashboard/search.html
  amy/templates/navigation.html
  amy/templates/workshops/search.html
  amy/workshops/forms.py
  amy/workshops/tests/test_search.py
  amy/workshops/urls.py
  amy/workshops/views.py
Labels: component: user interface (UI), type: enhancement

#1770 Automated emails: multiple hosts for some email actions
  amy/autoemails/actions.py
  amy/autoemails/tests/test_askforwebsiteaction.py
  amy/autoemails/tests/test_instructorshostintroductionaction.py
  amy/autoemails/tests/test_postworkshopaction.py
Labels: component: email automation, type: enhancement

#1771 Membership duration warning
  amy/fiscal/forms.py
  amy/fiscal/tests/test_membership.py
  amy/fiscal/views.py
  amy/static/amy_utils.js
  amy/static/calendar_popup.js
  amy/workshops/migrations/0227_auto_20210126_2139.py
  amy/workshops/models.py
Labels: component: forms, component: user interface (UI), type: enhancement

#1772 Assignment enhancement
  amy/api/views.py
  amy/dashboard/forms.py
  amy/dashboard/views.py
  amy/reports/views.py
  amy/static/amy_utils.js
  amy/templates/dashboard/admin_dashboard.html
  amy/templates/includes/assignment.html
  amy/workshops/fields.py
  amy/workshops/forms.py
  amy/workshops/models.py
  amy/workshops/tests/test_util.py
  amy/workshops/util.py
  amy/workshops/views.py
Labels: component: user interface (UI), type: enhancement
