Repository carpentries/amy, pull requests merged in 2021-12, with the labels that each got.

#2091 [#2024] Person profile - Community Roles
  Makefile
  amy/api/serializers.py
  amy/api/urls.py
  amy/api/views.py
  amy/communityroles/admin.py
  amy/communityroles/fixtures/configs.json
  amy/communityroles/forms.py
  amy/communityroles/migrations/0001_initial.py
  amy/communityroles/models.py
  amy/communityroles/tests.py
  amy/communityroles/tests/__init__.py
  amy/communityroles/tests/test_community_role_form.py
  amy/communityroles/tests/test_community_role_views.py
  amy/communityroles/tests/test_models.py
  amy/communityroles/urls.py
  amy/communityroles/views.py
  amy/static/communityrole_form.js
  amy/templates/communityroles/communityrole.html
  amy/templates/workshops/all_events.html
  amy/templates/workshops/event.html
  amy/templates/workshops/event_edit_form.html
  amy/templates/workshops/person.html
  amy/templates/workshops/person_edit_form.html
  amy/workshops/base_views.py
  amy/workshops/fields.py
  amy/workshops/lookups.py
  amy/workshops/management/commands/fake_database.py
  amy/workshops/tests/base.py
  amy/workshops/tests/test_lookups.py
  amy/workshops/tests/test_security.py
  amy/workshops/views.py
  config/urls.py
  pyproject.toml
Labels: type: new feature, component: database (DB), component: forms

#2104 [#2097] Improve select2 widget keyboard navigation
  amy/static/amy_utils.js
Labels: type: bug, component: user interface (UI), javascript

#2034 feat(Profile Archival) Add yearly reminders for the user to update their profile.
  amy/autoemails/actions.py
  amy/autoemails/admin.py
  amy/autoemails/base_views.py
  amy/autoemails/fixtures/templates_triggers.json
  amy/autoemails/management/__init__.py
  amy/autoemails/management/commands/__init__.py
  amy/autoemails/management/commands/repeated_jobs.py
  amy/autoemails/migrations/0017_auto_20210901_0226.py
  amy/autoemails/models.py
  amy/autoemails/templates/rqjob_preview.html
  amy/autoemails/tests/test_update_profile_reminder_action.py
  amy/consents/admin.py
  amy/consents/util.py
  amy/workshops/migrations/0251_person_rq_jobs.py
  amy/workshops/models.py
Labels: type: new feature, python, component: email automation

#2110 Update packages
  Pipfile
  Pipfile.lock
Labels: type: maintenance

#2107 [#2106] Increase security in `generic_schedule_email` redirect
  amy/autoemails/tests/test_utils.py
  amy/autoemails/utils.py
  amy/autoemails/views.py
Labels: priority: essential

#2105 [#1811] Successful job result TTL is 1 year long
  amy/autoemails/tests/test_job_ttl.py
  config/settings.py
Labels: component: email automation
