Repository carpentries/amy, pull requests merged in 2023-10, with the labels that each got.

#2544 Enforce membership code on instructor training application
  amy/api/filters.py
  amy/api/renderers.py
  amy/api/serializers.py
  amy/api/tests/test_export.py
  amy/api/tests/test_trainingrequests.py
  amy/dashboard/tests/test_search.py
  amy/dashboard/views.py
  amy/extforms/forms.py
  amy/extforms/tests/test_training_request_form.py
  amy/extforms/views.py
  amy/extrequests/filters.py
  amy/extrequests/forms.py
  amy/extrequests/tests/test_training_request.py
  amy/extrequests/tests/test_workshop_requests.py
  amy/extrequests/views.py
  amy/fiscal/tests/test_membership.py
  amy/templates/forms/trainingrequest.html
  amy/templates/includes/trainingrequest_details.html
  amy/templates/mailing/training_request.txt
  amy/templates/requests/all_trainingrequests.html
  amy/templates/requests/trainingrequests_merge.html
  amy/workshops/management/commands/fake_database.py
  amy/workshops/migrations/0266_rename_group_name_trainingrequest_member_code.py
  amy/workshops/models.py
  docs/manual_deployment_steps.md
Labels: component: forms

#2548 Override link colours in banner to improve contrast
  amy/static/css/amy.css
Labels: accessibility

#2549 Implement soft validation for member codes in training requests
  amy/extforms/forms.py
  amy/extforms/tests/test_training_request_form.py
  amy/fiscal/tests/test_membership.py
  amy/templates/includes/trainingrequest_details.html
  amy/workshops/migrations/0267_trainingrequest_accept_invalid_member_code.py
  amy/workshops/models.py
Labels: component: forms

#2541 [Emails] Refactor receivers into class-based actions
  amy/emails/actions/admin_signs_instructor_up_for_workshop.py
  amy/emails/actions/base_action.py
  amy/emails/actions/instructor_badge_awarded.py
  amy/emails/actions/instructor_confirmed_for_workshop.py
  amy/emails/actions/instructor_declined_from_workshop.py
  amy/emails/actions/instructor_signs_up_for_workshop.py
  amy/emails/actions/instructor_training_approaching.py
  amy/emails/actions/persons_merged.py
  amy/emails/tests/actions/test_admin_signs_instructor_up_for_workshop.py
  amy/emails/tests/actions/test_base_action.py
  amy/emails/tests/actions/test_instructor_badge_awarded.py
  amy/emails/tests/actions/test_instructor_confirmed_for_workshop.py
  amy/emails/tests/actions/test_instructor_declined_from_workshop.py
  amy/emails/tests/actions/test_instructor_signs_up_for_workshop.py
  amy/emails/tests/actions/test_instructor_training_approaching_receiver.py
  amy/emails/tests/actions/test_instructor_training_approaching_remove_receiver.py
  amy/emails/tests/actions/test_instructor_training_approaching_update_receiver.py
  amy/emails/tests/actions/test_persons_merged.py
Labels: component: email automation

#2552 Remove member affiliation question; remove code question from SO and WI forms
  amy/extforms/tests/test_selforganised_submission_form.py
  amy/extforms/tests/test_workshop_inquiry_form.py
  amy/extforms/tests/test_workshop_request_form.py
  amy/extrequests/forms.py
  amy/extrequests/migrations/0033_auto_20231023_1345.py
  amy/extrequests/tests/test_selforganised_submissions.py
  amy/extrequests/tests/test_workshop_inquiries.py
  amy/extrequests/tests/test_workshop_requests.py
  amy/templates/includes/selforganisedsubmission_details.html
  amy/templates/includes/workshopinquiry_details.html
  amy/templates/includes/workshoprequest_details.html
  amy/workshops/management/commands/fake_database.py
  amy/workshops/migrations/0268_remove_workshoprequest_member_affiliation.py
  amy/workshops/models.py
Labels: component: forms

#2558 Add filter to training requests view for invalid codes
  amy/extrequests/filters.py
  amy/extrequests/tests/test_filters.py
  amy/extrequests/tests/test_training_request.py
  amy/workshops/management/commands/fake_database.py
Labels: component: user interface (UI)
