Repository carpentries/amy, pull requests merged in 2023-09, with the labels that each got.

#2471 Improve event validation and option filtering for training progress and instructor badge awarding
  amy/static/award_form.js
  amy/static/trainingprogress_form.js
  amy/trainings/forms.py
  amy/trainings/tests/test_forms.py
  amy/trainings/tests/test_trainees.py
  amy/trainings/tests/test_training_progress.py
  amy/trainings/utils.py
  amy/trainings/views.py
  amy/workshops/forms.py
  amy/workshops/lookups.py
  amy/workshops/migrations/0264_trainingprogress_unique_trainee_at_event.py
  amy/workshops/models.py
  amy/workshops/tests/test_lookups.py
  amy/workshops/tests/test_person.py
  amy/workshops/views.py
  docs/design/design_patterns.md
  docs/design/index.md
Labels: type: enhancement, component: user interface (UI), component: forms

#2532 Add membership code & validation to workshop requests
  amy/extforms/tests/test_selforganised_submission_form.py
  amy/extforms/tests/test_workshop_inquiry_form.py
  amy/extforms/tests/test_workshop_request_form.py
  amy/extforms/views.py
  amy/extrequests/forms.py
  amy/extrequests/migrations/0032_add_member_affiliation_and_member_code.py
  amy/extrequests/tests/test_workshop_requests.py
  amy/workshops/migrations/0265_add_member_affiliation_and_member_code.py
  amy/workshops/models.py
  config/settings.py
Labels: component: user interface (UI), component: database (DB), component: forms

#2538 Autofill membership when accepting workshop requests
  amy/extrequests/base_views.py
  amy/extrequests/tests/test_selforganised_submissions.py
  amy/extrequests/tests/test_workshop_inquiries.py
  amy/extrequests/tests/test_workshop_requests.py
  amy/templates/includes/selforganisedsubmission_details.html
  amy/templates/includes/workshopinquiry_details.html
  amy/templates/includes/workshoprequest_details.html
  amy/workshops/management/commands/fake_database.py
  docs/design/design_patterns.md
Labels: component: forms

#2529 [Emails] Instructor training event approaching email
  amy/emails/actions.py
  amy/emails/actions/__init__.py
  amy/emails/actions/admin_signs_instructor_up_for_workshop.py
  amy/emails/actions/instructor_badge_awarded.py
  amy/emails/actions/instructor_confirmed_for_workshop.py
  amy/emails/actions/instructor_declined_from_workshop.py
  amy/emails/actions/instructor_signs_up_for_workshop.py
  amy/emails/actions/instructor_training_approaching.py
  amy/emails/actions/persons_merged.py
  amy/emails/controller.py
  amy/emails/signals.py
  amy/emails/tests/actions/test_admin_signs_instructor_up_for_workshop.py
  amy/emails/tests/actions/test_instructor_badge_awarded.py
  amy/emails/tests/actions/test_instructor_confirmed_for_workshop.py
  amy/emails/tests/actions/test_instructor_declined_from_workshop.py
  amy/emails/tests/actions/test_instructor_signs_up_for_workshop.py
  amy/emails/tests/actions/test_instructor_training_approaching_receiver.py
  amy/emails/tests/actions/test_instructor_training_approaching_remove_receiver.py
  amy/emails/tests/actions/test_instructor_training_approaching_strategy.py
  amy/emails/tests/actions/test_instructor_training_approaching_update_receiver.py
  amy/emails/tests/actions/test_persons_merged.py
  amy/emails/tests/test_controller.py
  amy/emails/tests/test_signals.py
  amy/emails/tests/test_utils.py
  amy/emails/types.py
  amy/emails/utils.py
  amy/scripts/seed_emails.py
  amy/workshops/views.py
Labels: component: email automation
