Repository carpentries/amy, pull requests merged in 2023-11, with the labels that each got.

#2561 Update autoresponses with member codes
  amy/extforms/tests/test_training_request_form.py
  amy/templates/includes/trainingrequest_details.html
  amy/templates/mailing/training_request.html
  amy/templates/mailing/training_request.txt
  amy/templates/mailing/workshoprequest.txt
Labels: component: email automation

#2560 Add soft validation of member codes to training request update form
  amy/extforms/forms.py
  amy/extrequests/forms.py
  amy/extrequests/tests/test_forms.py
  amy/extrequests/tests/test_utils.py
  amy/extrequests/utils.py
  amy/extrequests/views.py
  amy/workshops/migrations/0269_alter_trainingrequest_default_for_text_fields.py
  amy/workshops/models.py
Labels: component: forms

#2565 Remove nonexistent field from knowledge domain lookup
  amy/workshops/lookups.py
  amy/workshops/tests/test_lookups.py
Labels: type: bug

#2567 Escape trainee notes in progress_description tag
  amy/trainings/tests/test_training_progress.py
  amy/workshops/templatetags/training_progress.py
Labels: type: bug

#2571 Never hide training requests with invalid code when filtering
  amy/extrequests/filters.py
  amy/extrequests/tests/test_filters.py
Labels: type: bug, component: user interface (UI)

#2569 Instructor Training applicaton - change checkboxes to questions about intent
  amy/api/renderers.py
  amy/api/serializers.py
  amy/api/tests/test_export.py
  amy/api/tests/test_trainingrequests.py
  amy/extforms/forms.py
  amy/extforms/tests/test_training_request_form.py
  amy/extrequests/forms.py
  amy/extrequests/tests/test_training_request.py
  amy/extrequests/views.py
  amy/templates/includes/trainingrequest_details.html
  amy/templates/mailing/training_request.txt
  amy/templates/requests/trainingrequests_merge.html
  amy/workshops/management/commands/fake_database.py
  amy/workshops/migrations/0265_auto_20231108_1357.py
  amy/workshops/models.py
Labels: component: database (DB), component: forms

#2553 Add further checks for invalid code to workshop request forms
  amy/extrequests/base_views.py
  amy/extrequests/forms.py
  amy/extrequests/templatetags/__init.py__
  amy/extrequests/templatetags/request_membership.py
  amy/extrequests/tests/test_template_tags.py
  amy/extrequests/tests/test_utils.py
  amy/extrequests/tests/test_workshop_requests.py
  amy/extrequests/tests/test_wrfinitial.py
  amy/extrequests/utils.py
  amy/extrequests/views.py
  amy/templates/includes/request_membership.html
  amy/templates/includes/workshoprequest_details.html
  amy/templates/mailing/workshoprequest_admin.html
  amy/templates/mailing/workshoprequest_admin.txt
  amy/templates/requests/workshoprequest.html
  amy/templates/requests/workshoprequest_accept_event.html
Labels: component: forms

#2575 Member codes feature
  amy/api/filters.py
  amy/api/renderers.py
  amy/api/serializers.py
  amy/api/tests/test_export.py
  amy/api/tests/test_trainingrequests.py
  amy/dashboard/tests/test_search.py
  amy/dashboard/views.py
  amy/extforms/forms.py
  amy/extforms/tests/test_training_request_form.py
  amy/extforms/tests/test_workshop_request_form.py
  amy/extforms/views.py
  amy/extrequests/base_views.py
  amy/extrequests/filters.py
  amy/extrequests/forms.py
  amy/extrequests/migrations/0032_add_member_affiliation_and_member_code.py
  amy/extrequests/migrations/0033_auto_20231023_1345.py
  amy/extrequests/templatetags/__init.py__
  amy/extrequests/templatetags/request_membership.py
  amy/extrequests/tests/test_filters.py
  amy/extrequests/tests/test_forms.py
  amy/extrequests/tests/test_selforganised_submissions.py
  amy/extrequests/tests/test_template_tags.py
  amy/extrequests/tests/test_training_request.py
  amy/extrequests/tests/test_utils.py
  amy/extrequests/tests/test_workshop_inquiries.py
  amy/extrequests/tests/test_workshop_requests.py
  amy/extrequests/tests/test_wrfinitial.py
  amy/extrequests/utils.py
  amy/extrequests/views.py
  amy/fiscal/tests/test_membership.py
  amy/templates/forms/trainingrequest.html
  amy/templates/includes/request_membership.html
  amy/templates/includes/selforganisedsubmission_details.html
  amy/templates/includes/trainingrequest_details.html
  amy/templates/includes/workshoprequest_details.html
  amy/templates/mailing/training_request.html
  amy/templates/mailing/training_request.txt
  amy/templates/mailing/workshoprequest.txt
  amy/templates/mailing/workshoprequest_admin.html
  amy/templates/mailing/workshoprequest_admin.txt
  amy/templates/requests/all_trainingrequests.html
  amy/templates/requests/trainingrequests_merge.html
  amy/templates/requests/workshoprequest.html
  amy/templates/requests/workshoprequest_accept_event.html
  amy/workshops/management/commands/fake_database.py
  amy/workshops/migrations/0266_add_member_code_and_override.py
  amy/workshops/migrations/0267_alter_trainingrequest_default_for_text_fields.py
  amy/workshops/models.py
  config/settings.py
  docs/design/design_patterns.md
  docs/manual_deployment_steps.md
Labels: type: new feature

#2551 [Emails] Completed instructor training not yet badged
  amy/emails/actions/__init__.py
  amy/emails/actions/admin_signs_instructor_up_for_workshop.py
  amy/emails/actions/base_action.py
  amy/emails/actions/instructor_badge_awarded.py
  amy/emails/actions/instructor_confirmed_for_workshop.py
  amy/emails/actions/instructor_declined_from_workshop.py
  amy/emails/actions/instructor_signs_up_for_workshop.py
  amy/emails/actions/instructor_training_approaching.py
  amy/emails/actions/instructor_training_completed_not_badged.py
  amy/emails/actions/persons_merged.py
  amy/emails/controller.py
  amy/emails/signals.py
  amy/emails/templatetags/emails.py
  amy/emails/tests/actions/test_instructor_training_approaching_remove_receiver.py
  amy/emails/tests/actions/test_instructor_training_approaching_strategy.py
  amy/emails/tests/actions/test_instructor_training_approaching_update_receiver.py
  amy/emails/tests/actions/test_instructor_training_completed_not_badged_common_functions.py
  amy/emails/tests/actions/test_instructor_training_completed_not_badged_integration.py
  amy/emails/tests/actions/test_instructor_training_completed_not_badged_strategy.py
  amy/emails/tests/test_template_tags.py
  amy/emails/tests/test_utils.py
  amy/emails/tests/test_views.py
  amy/emails/types.py
  amy/emails/utils.py
  amy/emails/views.py
  amy/scripts/seed_emails.py
  amy/templates/emails/email_template_detail.html
  amy/templates/emails/email_template_edit.html
  amy/trainings/views.py
Labels: component: email automation

#2572 Automatically assign learner TTT task membership based on code in training application
  amy/extrequests/forms.py
  amy/extrequests/tests/test_training_request.py
  amy/extrequests/tests/test_utils.py
  amy/extrequests/utils.py
  amy/extrequests/views.py
  amy/static/task_form.js
  amy/workshops/forms.py
  amy/workshops/lookups.py
  amy/workshops/tests/test_lookups.py
  docs/design/index.md
  mkdocs.yml
Labels: component: forms

#2570 Instructor Training application - add question about Eventbrite URL and associated filter
  amy/extforms/forms.py
  amy/extforms/tests/test_training_request_form.py
  amy/extrequests/filters.py
  amy/extrequests/templatetags/eventbrite.py
  amy/extrequests/tests/test_filters.py
  amy/extrequests/tests/test_template_tags.py
  amy/extrequests/tests/test_utils.py
  amy/extrequests/utils.py
  amy/templates/includes/trainingrequest_details.html
  amy/templates/mailing/training_request.txt
  amy/workshops/management/commands/fake_database.py
  amy/workshops/migrations/0268_trainingrequest_eventbrite_url.py
  amy/workshops/models.py
Labels: component: user interface (UI), component: forms

#2579 Make agreement_link required field in Membership model
  amy/fiscal/tests/test_membership.py
  amy/workshops/migrations/0269_alter_membership_agreement_link.py
  amy/workshops/models.py
Labels: component: database (DB)
