Repository carpentries/amy, pull requests merged in 2024-09, with the labels that each got.

#2699 [Emails] Update trigger for the host-instructor introduction
  amy/recruitment/tests/test_instructor_recruitment_views.py
  amy/recruitment/views.py
Labels: type: bug, component: email automation

#2701 [Emails] Link to other related scheduled emails
  amy/templates/emails/email_template_list.html
  amy/templates/includes/event_details_table.html
  amy/templates/workshops/person.html
  amy/workshops/views.py
Labels: component: user interface (UI), component: email automation

#2702 [Emails] Update Tag condition for some email actions
  amy/emails/actions/ask_for_website.py
  amy/emails/actions/host_instructors_introduction.py
  amy/emails/actions/instructor_confirmed_for_workshop.py
  amy/emails/actions/recruit_helpers.py
  amy/emails/tests/actions/test_ask_for_website_cancel_receiver.py
  amy/emails/tests/actions/test_ask_for_website_receiver.py
  amy/emails/tests/actions/test_ask_for_website_strategy.py
  amy/emails/tests/actions/test_ask_for_website_update_receiver.py
  amy/emails/tests/actions/test_host_instructors_introduction_cancel_receiver.py
  amy/emails/tests/actions/test_host_instructors_introduction_receiver.py
  amy/emails/tests/actions/test_host_instructors_introduction_strategy.py
  amy/emails/tests/actions/test_host_instructors_introduction_update_receiver.py
  amy/emails/tests/actions/test_instructor_confirmed_for_workshop_cancel_receiver.py
  amy/emails/tests/actions/test_instructor_confirmed_for_workshop_strategy.py
  amy/emails/tests/actions/test_instructor_confirmed_for_workshop_update_receiver.py
  amy/emails/tests/actions/test_recruit_helpers_cancel_receiver.py
  amy/emails/tests/actions/test_recruit_helpers_receiver.py
  amy/emails/tests/actions/test_recruit_helpers_strategy.py
  amy/emails/tests/actions/test_recruit_helpers_update_receiver.py
  amy/workshops/models.py
Labels: component: email automation

#2663 Update README.md
  README.md
Labels: component: documentation
